Source: 4gpi-net-mods
Section: net
Priority: optional
Maintainer: Yuta Kiyonaga <kiyonaga@mechatrax.com>
Uploaders: Masahiro Honda <honda@mechatrax.com>
Build-Depends: debhelper-compat (= 12), bash-completion
Standards-Version: 4.5.1
Vcs-Git: https://github.com/mechatrax/4gpi-net-mods.git
Vcs-browser: https://github.com/mechatrax/4gpi-net-mods
Homepage: https://mechatrax.com/

Package: 4gpi-net-mods
Architecture: all
Depends: ${misc:Depends}, raspi-config (>= 20160527)
Description: Network configuration for 4GPi
 This package contains network configuration files for 4GPi
